<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello World!</h1>

  <div>
    <h1>Snowboarding!</h1>
    <a href="/details/1"><button>Details</button></a>
  </div>

  <div>
    <h1>Skating!</h1>
    <a href="/details/2"><button>Details</button></a>
  </div>

  <div>
    <h1>Cycling!</h1>
    <a href="/details/3"><button>Details</button></a>
  </div>
</body>
</html>

