<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      color: red;
    }

    p {
      color: blue;
      font-weight: 600;
    }

    button {
      border: none;
      padding: 5px;
      border-radius: 10px;
      color: white;
      background-color: black;
      transition: 0.3s ease
    }

    button:hover {
      color: black;
      background-color: gray;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Home Page</h1>
  <p>Welcome to Home Page</p>
  <div>
    <a href="about"><button>About Page</button></a>
    <a href="services"><button>Services Page</button></a>
    <a href="contact"><button>Contact Page</button></a>
  </div>
</body>
</html>