<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
      }
    </style>
  </head>
  <body>
      <h1 style="color: red; text-align: center">404 Error</h1>
      <img
        src="https://cdn-icons-png.flaticon.com/512/5741/5741824.png"
        alt="photo"
        width="200"
      />
  </body>
</html>
